#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  width: 71px;
  height: 94px;
  width: 107px;
  height: 141px;

  canvas {
    width: 100%;
    height: 100%;
  }
}

.form {
  display: flex;  
  flex-direction: column;
  gap: 0.5em;

  input[type="checkbox"] {
    margin: 0;
  }
  
  .row {
    display: flex;
    justify-content: center;
    gap: 1.75em;

    label {
      display: inline-block;
      text-align: right;
      width: 50%;
    }

    label+ :not(label) {
      width: 50%;
    }

    label+div {
      display: flex;
      justify-content: flex-start;
    }
  }

  &.inactive>* {
    opacity: 0.25;
    pointer-events: none;
  }
}

.reveal-container {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.5s ease,
    opacity 0.25s ease;
}

.reveal-container.active {
  max-height: 10000px;
  opacity: 1;
}

.seed-result {
  display: flex;
  gap: 1em;

  input {
    flex-grow: 1;
    font-size: 1.25em;
  }
}