#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  width: 71px;
  height: 94px;
  width: 107px;
  height: 141px;

  canvas {
    width: 100%;
    height: 100%;
  }
}

.form {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem 1rem;

  label {
    text-align: right;
  }

  .inactive {
    opacity: 0.25;
    pointer-events: none;
  }
  input, select {
    justify-self: flex-start;
  }

  .span-row {
    grid-column: 1 / -1;
  }
}

.seed-result {
  display: flex;
  gap: 1em;
  input { 
    flex-grow: 1;
    font-size: 1.25em;
  }
}